
$colores-lua: (
  letra-lua-1: #66e76a,
  letra-lua-2: hsl(36, 100%, 50%),
  letra-lua-3: hsl(54, 100%, 62%)
);
@each $clase-letra, $color-hex in $colores-lua {
  .#{$clase-letra} {
    color: $color-hex;
  }
}
.header {
    background-color:aliceblue;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

    .titulo {
        font-size: 3em;
        margin: 0;
        flex-grow: 1;
        text-align: center;
    }
    .logo-animado {
      flex-direction: row;
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: logo-animado 5s infinite linear; }
}


@keyframes logo-animado {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}


@keyframes move {
    0%{transform: translateX(0) translateY(0) translateZ(0);}
    33%{transform: translateX(100px) translateY(0) translateZ(0);}
    66%{transform: translateX(100px) translateY(100px) translateZ(0);}
    100%{transform: translateX(0) translateY(100px) translateZ(0);}
}