
$colores-lua: (
  letra-lua-1: #66e76a,
  letra-lua-2: hsl(36, 100%, 50%),
  letra-lua-3: hsl(54, 100%, 62%)
);
@each $clase-letra, $color-hex in $colores-lua {
  .#{$clase-letra} {
    color: $color-hex;
  }
}
.titulo {
  font-family: 'Lunasima', sans-serif;
  font-size: 3em;
  text-align: center;
}
.cube {
    flex-direction: column-reverse;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    animation: rotativecube 5s infinite rotate;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    perspective: 1000px;
}

@keyframes rotativecube {
    from {
        transform: rotateX(5deg) rotateY(5deg);
    }
    to {
        transform: rotateX(90deg) rotateY(180deg);
    }
}