
$colores-lua: (
  letra-lua-1: #66e76a,
  letra-lua-2: hsl(36, 100%, 50%),
  letra-lua-3: hsl(54, 100%, 62%)
);
@each $clase-letra, $color-hex in $colores-lua {
  .#{$clase-letra} {
    color: $color-hex;
  }
}
.header {
    background-color:aliceblue;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

    .titulo {
        font-size: 3em;
        margin: 0;
        flex-grow: 1;
        text-align: center;
    }
}

.logo-animado {
    position: relative;
    width: 100px;
    flex-shrink: 0;
    margin-right: 20px;
    animation: slideInLogoIndex 1.5s ease-out forwards;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
}


@keyframes slideInLogoIndex {
    0% {
        transform: translateX(calc(100vw + 100%));
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1; 
    }
}
