@import "_index.scss";
@import "_pilates.scss";
@import "_yoga.scss";
@import "_galeria.scss";
@import "_sobrenosotros.scss";

nav{ background-color: orange;}
@mixin border-radius ($radius){ border-radius: $radius;}
.header{
    @include border-radius(50px)

}
.header-pilates{
    @include border-radius(50px)
        }
        .nav-logo{
            justify-content: flex-start;
        }
        .cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 5s infinite linear;
}

@keyframes rotateCube {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}